* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  align-items: start;
  height: 700px;
}

.video {
  position: relative;
  overflow: hidden;
}

.block {
  position: absolute;
  background-color: green;
  z-index: 10;
}

.timeLaps {
  width: 200px;
  height: 700px;
  text-align: center;
  overflow-y: auto;
  cursor: pointer;
}

.time {
  padding: 10px 0;
}

.time:hover {
  background-color: lightgray;
}
