* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  align-items: start;
  height: 700px;
}

.video {
  position: relative;
  overflow: hidden;
}

.block {
  position: absolute;
  /* width: 5px;
  height: 10px; */
  background-color: green;
  /* bottom: 20px;
  /* left: 16px; */
  /* left: 1.29%;  */
  z-index: 10;
  /* opacity: 0.5; */
}

.timeLaps {
  width: 200px;
  height: 700px;
  text-align: center;
  overflow-y: auto;
  cursor: pointer;
}

.time {
  padding: 10px 0;
}

/* .time:first-child {
  margin-top: 10px;
} */

.time:hover {
  background-color: lightgray;
}
